# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/

#Folders
config/
!config/Motors/.gitkeep
!config/System data/.gitkeep
!config/UTP Variant Editor/.gitkeep